mixin footer()

	+b('footer').footer
		+e.c
			span PeTOR (c) 2015
			span Интернет-агенство
			span успешных проектов
		+e.s
			span Сообщите нам о Вашей задаче и мы
			span постараемся предложить подходящее решение
		+e.f
			span Давайте дружить
